    <div class="row">
        <div class="span10">
            <h2>Browse Library</h2>
        </div>
    </div>
    <div class="row">
        <div class="span10">
            <table class="table table-condensed table-hover">
                <tr>
                    <th>Title</th>
                    <th>Genre</th>
                    <th>Author</th>
                    <th>Details</th>
                </tr>
                <tr ng-repeat="book in books">
                    <td>{{book.title}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.author}}</td>
                    <td><a href="#/book/{{book.bookId}}">See Details</a></td>
                </tr>
            </table>
        </div>
    </div>