    <div class="row">
        <div class="span10">
            <h2>Book Details: {{book.title}}</h2>
        </div>
    </div>
    <div class="row">
        <div class="span10">
            <a class="story-title" href="#"><img alt="" src="{{book.image_url}}" style="width:100px;height:100px" class="img-circle"></a>
            {{book.genre}}
            {{book.author}}                    
        </div>
        <div>
            <span ng-bind-html="trust(book.description)"></span>
        </div>
    </div>